.navbar{
    background: #000;
    padding: 20px;
    color: #fff;
}

.navbar nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1500px;
    margin: 0.5rem auto;
}

.navbar a.brand{
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
}

.navbar a:last-child{
    color: #fff;
    text-decoration: none;
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #fff;
    border-radius: 5px;
}

.navbar a:last-child:hover{
    background: #fff;
    color: #333;
    border: 2px solid #000;
}